@charset "utf-8";
/* CSS Document */
/*header 头部*/
body{/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/color: #333;background-color: #fff }
.header_wrap,.footer_wrap{ width:1310px;}
.bg_black{ background:#353535;}
.bg_orange{ background:#ff6600;}
.bg_array01{ background:#F2F2F2;}
.header_wrap{ height:45px; line-height:45px;color: #FFF;font-size: 12px;position:relative;}
.admin-name{ cursor: pointer; }
.user-login,.user-logout{ color:#FFF;}
.user-login:hover,.user-logout:hover{ color:#FF6600; cursor: pointer; }
.header_alarm{ line-height:48px; position: absolute;right: 138px;  top: 2px; height:45px; padding:0px 40px 0px 0px;}
.icon_alarm{ width:19px; height:24px; background: url(../img/notice.png) no-repeat; display: inline-block; position:absolute; top:10px; right:-2px;cursor:pointer; }
.message{ background-color: #ff6600; border-radius: 100px; display: inline-block;position: absolute; min-width: 17px;height: 17px;line-height: 19px;float: right;text-align: center;left: 216px; top: 5px;cursor:pointer; }

/*branch-nav 导航*/
.branch_nav{padding-top:15px; height:65px;background: #ff6600;/* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3); -o-box-shadow: 0 1px 1px rgba(0,0,0,.3); box-shadow: 0 1px 1px rgba(0,0,0,.3); border-top: 1px solid #68212d; border-bottom: 1px solid #68212d*/}
.nav_container{ text-align:center;background: #ff6600;}
.nav_container  li{ display: inline-block; margin-left:3px; position:relative;}
.nav_container  li:first-child{  margin-left: 12px;}
.nav_container  li:last-child{  margin-right: 0;}

.nav_container  li ul{ position: absolute; background: #ccc; clear: both; width: 130px; z-index: 999; display: none;}
.nav_container  li ul li{ clear: both; display: block; text-align: center; border-bottom: 1px solid #E0E0E0; margin-left:0px;}
.nav_container  li ul li:first-child{  margin-left: 0px;}
.nav_container  li ul li a {color: #FFF; display: block;padding: 8px 0;}
.nav_container  li ul li a:hover {background: #FF9B58;}

.nav_container  li a{ color: #FFF; display: inline-block;padding: 20px 20px; font-size:16px; }
.nav_container  li a:hover{ background: #FF9B58; cursor: pointer; }
.nav_container  li a.nav_active{ background: #FF9B58; }

/*footer 尾部*/
.footer_wrap{ height:136px; padding:28px 0px 0px; color: #FFF;font-size: 12px; position:relative; }
.footer_logo,.footer_qrcode{ width:80px; height:80px;}
.footer_logo{ margin:0px 0px 0px 115px; background: url(../img/Icon-LOGO.png) no-repeat;position: absolute;background-size: cover;}
.about_us{position: absolute; left:266px; top: 28px; height:105px; color:#ECECEC;}
.about_us a{color:#ECECEC;}
.copy_right{ margin-top:100px;}
.footer_qrcode_main{position: absolute; right:115px;}
.footer_qrcode{background: url(../img/zs_user_rCode.png) no-repeat;background-size: cover;}
.about_us_car span[role="feed-back"],.about_us_car span[role="about-us"],.about_us_car span[role="contact-us"]{ cursor:pointer;}

/*车公司头部*/
.header_car_bg{ height:200px; background: url(../img/head_bg.png) repeat-x  center 0px; }
.header_car,.footer_car,.branch_nav,.nav_bread{width:1190px;}
.header_car{height:200px;position:relative; background: url(../img/head_bg.png) repeat-x  center 0px; }   
.header_logo_main{ position: absolute; top:47px;left:35px; color:#FFF; height:102px; width:810px; overflow:hidden;}
.header_logo_main img{ width:102px; height:102px; float:left; }
.com_name{ display:inline-block; width:660px; overflow:hidden; text-overflow: ellipsis;white-space: nowrap; height:102px; line-height:102px; vertical-align: middle; float:left; margin-left:45px; font-size:30px;}
.header_car_alarm{  position: absolute;right: 0px;  top: 42px; height:45px; padding:0px 40px 0px 0px; line-height:30px; font-size:19px; color:#FFF;}
.icon_car_alarm{ width:18px; height:22px; background: url(../img/alarm_car.png) no-repeat; display: inline-block; position:absolute; top:4px; right:5px;cursor:pointer; }
.car_message{ background-color: #ff6600; border-radius: 100px; display: inline-block;position: absolute; min-width: 17px;height: 17px;line-height: 19px;float: right;text-align: center;left: 312px; top: -2px;cursor:pointer; font-size:12px; }
.logoin_pwd,.logout{ font-size:18px; color:#E49C3A; cursor:pointer; }
.logoin_pwd:hover,.logout:hover{ color:#FFF;}
.logoin_pwd{ position:absolute; top:158px; right:4px;}
.logout{ position:absolute; top:158px; right:118px;}

/*车公司尾部*/
.bg_blue{ background:#1A0B2E;}
.footer_car{  }
.footer_car_bg{height:300px;}
.about_us_car{padding-left: 365px;padding-top: 60px;height: 140px;color: #ECECEC;width: 556px;}
.about_us_car span{ }
.imice_logo_main{ height:72px;}
.span_right{padding-right:140px;}
.about_us_car span a{ color:#FFF; font-size:14px;}
.imice_logo{ width:72px; height:72px; background: url(../img/imice_logo.png) no-repeat;  }
.copy_right_car{ height:40px; line-height:40px;  padding-top:10px; font-size:14px;}

/*导航nav_main*/
.nav_wrap{}
.nav_main,.account_main,.search_wrap,.list_content,.account_wrap{width:1190px;}
.nav_main{ height:125px;}
.nav_bread{ height:50px; line-height:50px; font-size:16px; }
.nav_list li{ width:140px; height:122px; display:block; float:left; margin-left:10px; text-align:center; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3); -o-box-shadow: 0 1px 1px rgba(0,0,0,.3); box-shadow: 0 1px 1px rgba(0,0,0,.3); border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; background-color:#fff;}
.nav_list li:first-child{ margin-left:0px;}
.nav_list li:hover{ border-bottom:2px solid #FFAF24; cursor:pointer;}
.nav_list li.nav_selected{ border-bottom:2px solid #FFAF24;}
.nav_list li span{ font-size:16px;}
.nav_list li i{ width:40px; height:40px; margin:28px auto 10px;display:block;background: url(../img/nav_bg.png) no-repeat; }
.nav_list li i.meeting-manage{ background-position:0px 0px; }
.nav_list li i.demand-manage{ background-position:0px -50px;}
.nav_list li i.inquiry-manage{ background-position:0px -100px;}
.nav_list li i.order-manage{ background-position:0px -150px;}
.nav_list li i.addtional-manage{ background-position:0px -200px;}
.nav_list li i.dataStatistics{ background-position:0px -250px;}
.nav_list li i.accounts-manage{ background-position:0px -300px;}
.nav_list li i.customerService{ background-position:0px -350px;}

/*nav_list_short*/
.nav_list_short li{ width:190px; height:122px; display:block; float:left; margin-left:10px; text-align:center; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3); -o-box-shadow: 0 1px 1px rgba(0,0,0,.3); box-shadow: 0 1px 1px rgba(0,0,0,.3); border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; background-color:#fff;}
.nav_list_short li:first-child{ margin-left:0px;}
.nav_list_short li:hover{  cursor:pointer;}
.nav_list_short li[role="inquiry-manage"]:hover,.nav_list_short li.inquiry_manage_selected{ border-bottom:2px solid #FFAF24;}
.nav_list_short li[role="order-manage"]:hover,.nav_list_short li.order_manage_selected{ border-bottom:2px solid #FF904C;}
.nav_list_short li[role="setting-bill"]:hover,.nav_list_short li.setting_bill_selected{ border-bottom:2px solid #ED675B;}
.nav_list_short li[role="info-maintain"]:hover,.nav_list_short li.info_maintain_selected{ border-bottom:2px solid #1DBFAD;}
.nav_list_short li[role="accounts-manage"]:hover,.nav_list_short li.accounts_manage_selected{ border-bottom:2px solid #373189;}
.nav_list_short li[role="customer-service"]:hover,.nav_list_short li.customer_service_selected{ border-bottom:2px solid #440062;}



.nav_list_short li.nav_selected{ border-bottom:2px solid #FFAF24;}
.nav_list_short li span{ font-size:18px;}
.nav_list_short li i{ width:48px; height:48px; margin:28px auto 10px;display:block;background: url(../img/nav_bg.png) no-repeat; }
.nav_list_short li i.inquiry_manage{ background-position:0px -400px;}
.nav_list_short li i.order_manage{ background-position:0px -458px;}
.nav_list_short li i.setting_bill{ background-position:0px -516px;}
.nav_list_short li i.info_maintain{ background-position:0px -574px;}
.nav_list_short li i.accounts_manage{ background-position:0px -632px;}
.nav_list_short li i.customer_service{ background-position:0px -690px;}


/*通用表格*/
.account_table{ background:#FFF; width: 100%;font-size: 16px; font-family:14px/24px Arial,Verdana,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,.2); box-shadow: 0 1px 1px rgba(0,0,0,.2); border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9;}
.account_wrap{}
.account_table .dark-bg{background: #E7E7E7; color: #6b7078}
.account_table td,.account_table th{padding: 0 8px; height: 47px; line-height: 47px; border-right: 1px solid #ebebeb; }
.account_table .center-tr{text-align: center; padding: 0 8px}
.account_table td:last-child{border-right: 0}
.account_table .first-th td{height: 50px; line-height: 50px; border: 0}
.account_table td:first-child{border-top-left-radius: 6px}
.account_table td:last-child{border-top-right-radius: 6px}
.account_table{border-top-left-radius: 6px;border-top-right-radius: 6px}
.account_table tbody{ text-align:center;}
.operate_btn{padding: 0 6px; height: 26px; margin-left: 10px; line-height: 26px;color:#FFAF24;}
.operate_btn:first-child{ margin-left:0px;}
.operate_btn:hover { text-decoration:underline;}
.account_table tbody tr:nth-child(even){background: #F0F1F3;}
.account_table .name_item01 { width:4em;}
.account_table .name_item02 { width:6em;}
.account_table .name_item03 { width:8em;}
.account_table .name_item04 { width:10em;}
.account_table .name_item01,.account_table .name_item02,.account_table .name_item03,.account_table .name_item04{display: block;cursor: pointer;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

/*表格文字气泡提示*/ 
.account_table td:nth-child(1) div.account_table_td_detial, 
.account_table td:nth-child(2) div.account_table_td_detial, 
.account_table td:nth-child(3) div.account_table_td_detial,
.account_table td:nth-child(4) div.account_table_td_detial,
.account_table td:nth-child(7) div.account_table_td_detial,
.account_table td:nth-child(9) div.account_table_td_detial,
.account_table td:nth-child(10) div.account_table_td_detial{width: 120px;word-wrap: break-word;}
.account_table_td{ position:relative;}

/*.account_table .account_table_td_detial{display: none; position: absolute; bottom: 50px; left: 50%; padding: 0 8px; width: 300px; background: #fff; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); border: 1px solid #FFAF24; line-height: 32px; box-shadow: 0 0 2px #ccc; white-space: normal; text-align: center; overflow: visible}*/
.account_table .account_table_td_detial{display: none; position: absolute; bottom: 50px; left: 50%; padding: 0 8px; background: #fff; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); border: 1px solid #FFAF24; line-height: 32px; box-shadow: 0 0 2px #ccc; white-space: normal; text-align: center; overflow: visible}
.account_table .account_table_td_detial:after{content: ""; display: block; width: 0; height: 0; position: absolute; bottom: -12px; left: 50%; margin-left: -6px; border-style: solid; border-width: 6px; border-color: #ff5f00 transparent transparent}

/*搜索功能*/
.search_wrap{ min-height:70px; margin:35px auto 0px auto; }
.search_main{ width:1002px;min-height:70px; padding-left:36px;font-size: 14px; font-family:14px/24px Arial,Verdana,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,.2); box-shadow: 0 1px 1px rgba(0,0,0,.2); border-top: 1px solid #e9e9e9;  border-right:0px; background:#FFF;}
.search_main_long{ width:1154px;min-height:76px; padding-left:36px;font-size: 14px; font-family:14px/24px Arial,Verdana,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,.2); box-shadow: 0 1px 1px rgba(0,0,0,.2); border-top: 1px solid #e9e9e9;  border-right:0px; background:#FFF;}
.add_meeting{ height:70px;}
.add_meeting_btn{ width:140px;height:70px; line-height:70px; display:block; background:#FFAF24; text-align:center;font-size: 16px; font-family:14px/24px Arial,Verdana,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";  color:#FFF; }
.search_input{  min-height:35px; line-height:35px;padding-top:18px;padding-bottom: 17px; font-size:16px; width:803px;}
.search_input_long{  min-height:35px; line-height:35px;padding-top:18px;padding-bottom: 18px; font-size:16px; width:946px;}
.search_input span{ /*margin-right:10px;*/}

.text_input_white{width: 80px; height: 18px;padding:10px;background-color: #fff;color: #666; border: 1px solid #ccc; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear .2s, box-shadow linear .2s; -moz-transition: border linear .2s, box-shadow linear .2s; -o-transition: border linear .2s, box-shadow linear .2s; transition: border linear .2s, box-shadow linear .2s;border-radius:2px;}
.text_input{width: 80px; height: 18px;padding:10px;background-color: #F0F1F3;border: none;}
.text_input_date{width: 90px;height: 18px;padding:10px 5px 10px 5px;background-color: #F0F1F3;border: none;}
.text_input_date_long{width: 240px;height: 15px;padding:10px 5px 10px 5px;background-color: #F0F1F3;border: none;}
.text_input_error{border: 1px solid #F00;}

.text_input_array{padding:0px 20px 0px 20px;background-color: #F1F1F1;height:18px;line-height:18px;color: #666; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear .2s, box-shadow linear .2s; -moz-transition: border linear .2s, box-shadow linear .2s; -o-transition: border linear .2s, box-shadow linear .2s; transition: border linear .2s, box-shadow linear .2s;border-radius:2px;}

.select_normal{width: 100px; height: 38px; padding:10px;background-color: #F0F1F3;border: none; background: url("../img/circle_arrow_normal_down.png")no-repeat 74px center #F0F1F3; -webkit-appearance: none;  -moz-appearance: none;  appearance: none;}
.select_long{ width: 110px; height: 38px;padding:10px;background-color: #F0F1F3;border: none;background: url("../img/circle_arrow_normal_down.png")no-repeat 74px center #F0F1F3; -webkit-appearance: none;  -moz-appearance: none;  appearance: none;}


.search_more{  display:inline-block;padding-left:40px; position:relative; width:86px; padding-top: 24px;}
.search_more a:hover,.search_more i:hover{ color:#FFAF24; cursor:pointer;}
.search_btn{ width:76px; height:76px;display:block; background: url(../img/search_btn.png) no-repeat center center #FFAF24; cursor:pointer; }

.search_more .circle_arrow_up{ width:14px; height:8px;  background: url(../img/circle_arrow.png) no-repeat 0px 0px; cursor:pointer; display:inline-block; margin-left:8px;}
.search_more .circle_arrow_down{ width:14px; height:8px;  background: url(../img/circle_arrow.png) no-repeat 0px -18px; cursor:pointer;display:inline-block;margin-left:8px;}

.search_select_main{ width:135px;box-shadow: 0 1px 1px rgba(0,0,0,.2);border-left: 1px solid #e9e9e9; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; background:#FFF; position: absolute; right:-3px; top:52px; padding-top:5px; }
.search_select_main .search_more_type{ height:35px;line-height:35px ;padding-left: 40px; cursor:pointer;}

.search_select_main .checkbox{background: url(../img/select_icon_yellow.png) no-repeat 10px 7px;cursor: pointer; border-bottom: 2px solid #fff; }
.search_select_main .checkbox:hover{cursor: pointer;border-bottom:2px solid #FFAF24;}
.search_select_main .selected{background: url(../img/select_icon_yellow.png) no-repeat 10px -34px;}
.search_select_main .line_yellow{ border-bottom:2px solid #FFAF24;}
.content_more{ margin-top:10px; }
.content_more span{ margin-left:30px; margin-right:10px;}
.content_more span:first-child{ margin-left:0px;}/*first-child*/
/*.content_more span:nth-child(2){ margin-left:0px;}*/
.content_more span span:first-child{ margin-left:0px;}

/*select*/
.car_common_select{width: 90px; height: 15px; margin: 0; padding: 0 20px; font-size: 16px; border: 0 none; out-line:none; background-color: #F1F1F1;}
.long_text_input{width: 230px; height: 35px; padding: 0 10px; font-size: 16px; background-color: #F1F1F1;}
.long_text_input02{width: 180px; height: 35px; padding: 0 10px; font-size: 16px; background-color: #F1F1F1;}
.short_text_input{width: 90px; height: 35px; padding: 0 20px; font-size: 16px; background-color: #F1F1F1;}
.short_text_textarea{width: 210px;min-height:70px;overflow-y:auto; padding: 10px 20px 10px 20px; font-size: 16px; background-color: #F1F1F1;}

.add_btn_yellow_limit,.add_btn_yellow_nolimit,.operate_btn_yellow_limit,.operate_btn_yellow_nolimit{ text-align: center; cursor:pointer; font-size:16px; background-color:#FFAF24; display:inline-block; color:#FFF;}
.add_btn_yellow_limit{ width:130px; height:38px; line-height:38px;}
.add_btn_yellow_nolimit{  height:38px; line-height:38px; padding: 0px 35px; }
.operate_btn_yellow_limit{ width:160px; height:40px; line-height:40px;}
.operate_btn_yellow_nolimit{  height:40px; line-height:40px;padding: 0px 40px;}

/*时间日历组件*/
.date-input{background:url(../img/icon_date.png) no-repeat 75px center #F0F1F3;}
.date-input-long{background:url(../img/icon_date.png) no-repeat 220px center #F0F1F3;}

/*page start分页*/
.account-footer {width: 1190px;margin:0 auto;}

.tcdPageCode,.changepage{padding: 40px 20px 165px;color: #ccc;text-align:right;float: left;}
.tcdPageCode{width: 750px;}
.changepage span {font-size: 16px;height: 32px;line-height: 32px;color:#353535;}
.changepage a,.tcdPageCode a{display: inline-block;color: #353535;background-color:#FFFFFF;display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;border-radius: 2px;vertical-align: middle;}
.tcdPageCode a:hover{color: #fff;background-color: #FF904C;}
.tcdPageCode span.current{display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;color: #fff;background-color: #FF904C;border-radius: 2px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;color: #bfbfbf;background: #FFFFFF;border-radius: 2px;vertical-align: middle;}



/*询价单管理*/
.tcdPageCode[role="inquiry-manage-page"] span.current{display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;color: #fff;background-color: #FFAF24;border-radius: 2px;vertical-align: middle;}
.tcdPageCode[role="inquiry-manage-page"] a:hover{color: #fff;background-color: #FFAF24;}

/*订单管理*/
.tcdPageCode[role="order-manage-page"] span.current{display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;color: #fff;background-color: #FF904C;border-radius: 2px;vertical-align: middle;}
.tcdPageCode[role="order-manage-page"] a:hover{color: #fff;background-color: #FF904C;}

/*结算账单*/
.tcdPageCode[role="setting-bill-page"] span.current{display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;color: #fff;background-color: #ED675B;border-radius: 2px;vertical-align: middle;}
.tcdPageCode[role="setting-bill-page"] a:hover{color: #fff;background-color: #ED675B;}

/*信息维护*/
.tcdPageCode[role="info-maintain-page"] span.current{display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;color: #fff;background-color: #1DBFAD;border-radius: 2px;vertical-align: middle;}
.tcdPageCode[role="info-maintain-page"] a:hover{color: #fff;background-color: #1DBFAD;}

/*账号及权限管理*/
.tcdPageCode[role="accounts-manage-page"] span.current{display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;color: #fff;background-color: #373189;border-radius: 2px;vertical-align: middle;}
.tcdPageCode[role="accounts-manage-page"] a:hover{color: #fff;background-color: #373189;}

/*客户服务*/
.tcdPageCode[role="customer-service-page"] span.current{display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 5px;color: #fff;background-color: #440062;border-radius: 2px;vertical-align: middle;}
.tcdPageCode[role="customer-service-page"] a:hover{color: #fff;background-color: #440062;}

/*page end*/

/*分页组件 start*/
.page-nav{padding:15px 0;font-size:14px;overflow:hidden;font-family:"微软雅黑";text-align:center}
.page-nav li{display:inline-block;cursor:pointer;padding:0 12px;color:#353535;background-color:#FFF;height:32px;line-height:32px;margin:0 5px;border-radius:2px;vertical-align:middle}
.page-nav li:first-child{padding-right:10px}
.page-nav .cur,.page-nav li:hover{color:#fff;background-color:#FFAF24}
.page-nav .active{color:#353535}
/*分页组件 end*/

/*pop_box*/
/*.text_pop{ padding:6px 20px; border:1px solid #999; display:none; z-index:9;}*/
.text_pop{
    padding:6px 20px;
    border:1px solid #999;
    display:none;
    z-index:9;
    position: absolute;
    top: -100%;
    left: 35%;
}
.text_pop_array{ padding:6px 20px; display:none; -webkit-box-shadow: 0 1px 15px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 15px rgba(0,0,0,.2); -o-box-shadow: 0 1px 15px rgba(0,0,0,.2); box-shadow: 0 1px 15px rgba(0,0,0,.2); border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; background-color:#fff;z-index:9;}
.text_pop_yellow{ border-color:#FFAF24; }

/*right_nav start*/
.right_nav ul {display: block;  width: 40px;  height: 320px; position: fixed;left: 50%;margin-left: 608px;top:251px;box-shadow: 0 0 10px #DEDEDE;}
.right_nav ul li {list-style: none;float: right;border-left: 2px solid #FFFFFF;}
.right_nav ul li a {display: block;width: 40px;height: 40px;border-left:1px solid #FFFFFF;}
.right_nav ul li a:hover {display: block;width: 40px;height: 40px;border-left:1px solid #FFFFFF;}
.right_nav ul li .to_top {background: url("../img/orderManageImg.png") no-repeat 0px -894px;}
.right_nav ul li .inquiry_manage {background: url("../img/orderManageImg.png") no-repeat 0px -833px;}
.right_nav ul li .order_manage {background: url("../img/orderManageImg.png") no-repeat 0px -662px;}
.right_nav ul li .setting_bill {background: url("../img/orderManageImg.png") no-repeat 0px -239px;}
.right_nav ul li .info_maintain {background: url("../img/orderManageImg.png") no-repeat 0px -168px;}
.right_nav ul li .accounts_manage {background: url("../img/orderManageImg.png") no-repeat 0px -311px;}
.right_nav ul li .customer_service {background: url("../img/orderManageImg.png") no-repeat 0px -386px;}
.right_nav ul li .ewm {background: url("../img/orderManageImg.png") no-repeat 0px -458px;}
.right_nav li[role="inquiry-manage"]:hover,.right_nav li.inquiry_manage_selected{ border-left:2px solid #FFAF24;}
.right_nav li[role="order-manage"]:hover,.right_nav li.order_manage_selected{ border-left:2px solid #FF904C;}
.right_nav li[role="setting-bill"]:hover,.right_nav li.setting_bill_selected{ border-left:2px solid #ED675B;}
.right_nav li[role="info-maintain"]:hover,.right_nav li.info_maintain_selected{ border-left:2px solid #1DBFAD;}
.right_nav li[role="accounts-manage"]:hover,.right_nav li.accounts_manage_selected{ border-left:2px solid #373189;}
.right_nav li[role="customer-service"]:hover,.right_nav li.customer_service_selected{ border-left:2px solid #440062;}
/*right_nav end*/
/*二维码弹窗*/
.right_nav li:last-child {
    position: relative;
}
.right_nav li:last-child .ewm_popup {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -150%;
    left: -200px;
    display: none;
}
.right_nav li:last-child .ewm_popup img {
    width: 100%;
    height: 100%;
}

/*收费标准*/
/*收费标准*/
.charges_info{}
.charges_info .ico_charges_info{ width:15px; height:19px;  background: url(../img/ico_charges.png) no-repeat 0px 0px; cursor:pointer;display:inline-block;margin-left:8px;vertical-align:middle;}
.car_info_more_pos{ position: absolute; top:40px; left:110px;}
/*收费标准下载列表*/
.down_list{  margin:0px;}
.down_list li{ line-height:24px;padding: 10px}
/*.down_list li a{ text-decoration:underline; }*/
.down_list li a:hover{ text-decoration:underline; color:#FFAF24;}
