@charset "utf-8";

/*询价单管理*/

.inquiry_list_main{ min-height:70px; line-height:70px; padding-left:40px;font-size: 16px; font-family:16px/24px Arial,Verdana,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,.2); box-shadow: 0 1px 1px rgba(0,0,0,.2); border-top: 1px solid #e9e9e9;  border-right:0px; background:#FFF; margin-left:auto; margin-right:auto;}
.sender_name{ margin-left:115px;}


/*进度条 start*/
.list_content{ min-height:70px; padding-top:15px;}
.order_title{ color:#999;}
.order_title span{width: 140px; height: 25px; display: inline-block; text-align: center; font-size: 16px;}
.progress_bar{margin-top: 10px; margin-left:65px;font-size: 0;}
.progress_bar .round{width: 12px; height: 12px; border-radius: 50%; display: inline-block; vertical-align: middle;border: 4px solid #A0A0A0;}
.progress_bar .light_round{background: #FFAF24;width: 20px; height: 20px; border-radius: 50%; display: inline-block; vertical-align: middle;border: none;}
.progress_bar .shine_round_main{background: #FFAF24;width: 20px; height: 20px; border-radius: 50%; display: inline-block; vertical-align: middle;border: none;position:relative;}
.shine_round:before{content:' '; position: absolute; z-index:2; left:0; top:0; width:20px; height:20px; background-color: #FFAF24; border-radius: 50%;}
.shine_round:after {
  content:' ';
  position: absolute;
  z-index:1;
  width:20px;
  height:20px; 
  background-color: #FFAF24;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
  -webkit-animation-name:'ripple';/*动画属性名，也就是我们前面keyframes定义的动画名*/
  -webkit-animation-duration: 1s;/*动画持续时间*/
  -webkit-animation-timing-function: ease; /*动画频率，和transition-timing-function是一样的*/
  -webkit-animation-delay: 0s;/*动画延迟时间*/
  -webkit-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
  -webkit-animation-direction: normal;/*定义动画方式*/
}

@keyframes ripple {
   0% {
    left:10px;
    top:10px;
    opcity:75;
    width:0;
    height:0;
  }
  100% {
    left:-15px;
    top:-15px;
    opacity: 0;
    width:50px;
    height:50px;
  }
}

.progress_bar .line{width: 120px;height: 4px;background: #A0A0A0;display: inline-block;vertical-align: middle;}
.progress_bar .light_line{width: 120px;height: 4px;background: #FFAF24;display: inline-block;vertical-align: middle;}

/*进度条 end*/

.use_car_main,.reply_inquiry{ padding-left:40px; padding-top:30px; padding-bottom:10px;font-size: 16px; font-family:16px/24px Arial,Verdana,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,.2); box-shadow: 0 1px 1px rgba(0,0,0,.2); border-top: 1px solid #e9e9e9;  border-right:0px; background:#FFF; margin-left:auto; margin-right:auto;}
.inquiry_list_main,.use_car_main,.reply_inquiry{width:1150px;}

.ico_usecar{ height:40px; line-height:40px; background: url(../img/icon_title.png) no-repeat 0px 0px; padding-left:60px; font-size: 16px;}
/*.ico_reply_inquiry{  height:40px; line-height:40px; background: url(../img/icon_title.png) no-repeat 0px -50px; padding-left:60px; font-size: 16px;}*/
/*---by ly*/
.ico_reply_inquiry{ width:38.5%; height:40px; line-height:40px; display:inline-block;background: url(../img/icon_title.png) no-repeat 0px -50px; padding-left:60px; font-size: 16px;}
.section_body{ font-size:16px; }
.section_body_detial{ float:left; width:510px; height:45px; line-height:45px;}
.section_body_detial_label{float: left;text-align: left; width:90px;}
.section_body_detial_value{text-align: left; margin-left: 90px;}

.reply_inquiry{ min-height:400px;}
.reply_inquiry_detial{float:left; width:510px; min-height:38px; line-height:38px; margin-top:20px;}
.reply_inquiry_detial_label{float: left;text-align: left; width:90px;}
.reply_inquiry_detial_value{text-align: left; margin-left: 90px;}

.enabled_btn_limit_yellow{ width:80px; height:36px; line-height:36px; border:1px solid #FFAF24; display:inline-block; cursor:pointer; text-align:center; font-size:16px;}
.disabled_btn_limit_yellow{ width:80px; height:36px; line-height:36px; border:1px solid #D2D2D2; display:inline-block; cursor:pointer;text-align:center; font-size:16px;}
.btn_limit_array{ width:80px; height:36px; line-height:36px; border:1px solid #D2D2D2; display:inline-block; cursor:pointer;text-align:center; font-size:16px;}
.btn_limit_yellow_selected{ border:1px solid #FFAF24;}

.total_amount_main{ position:relative;}
.add_amount_main{  width:500px;position:absolute; top:56px; left:0px; display:none;}
.add_amount_cont{}
.add_amount_list{ margin-top:20px; height:36px; line-height:36px;}
.delete_amount_btn{font-size:16px;cursor:pointer;font-family: Arial, Helvetica, sans-serif; display:inline-block; width:9px; height:9px; background: url(../img/close_btn_small.png) no-repeat 0px 0px;}
.operate_btn_main{width:1190px;  padding:20px 0px 20px 0px; text-align:center; }
.operate_btn_main .operate_btn_yellow_limit{ margin-right:130px;}
.operate_btn_main .operate_btn_yellow_limit:last-child{ margin-right:0px;}
/*报价包含 start*/
.include_more,.charges_info{ width:95px; height:36px; line-height:36px; display:inline-block;cursor:pointer; position:relative;}
.include_more .circle_arrow_up{ width:14px; height:8px;  background: url(../img/circle_arrow.png) no-repeat 0px 0px; cursor:pointer; display:inline-block; margin-left:8px;}
.include_more .circle_arrow_down{ width:14px; height:8px;  background: url(../img/circle_arrow.png) no-repeat 0px -18px; cursor:pointer;display:inline-block;margin-left:8px;}
.include_more .circle_arrow_right{ width:8px; height:14px;  background: url(../img/circle_arrow.png) no-repeat 0px -36px; cursor:pointer; display:inline-block; margin-left:8px; vertical-align:middle;}

/*.include_more_pos{ position: absolute; top:-30px; right:-10px;}*/
/*--by ly*/
.include_more_pos{ position: absolute; top:-30px;}
.car_info_more_pos{ position: absolute; top:40px; left:110px;}


/*收费标准*/
.charges_info{}
.charges_info .ico_charges_info{ width:15px; height:19px;  background: url(../img/ico_charges.png) no-repeat 0px 0px; cursor:pointer;display:inline-block;margin-left:8px;vertical-align:middle;}

/*收费标准下载列表*/
.down_list{  margin:0px;}
.down_list li{ line-height:24px;padding: 10px}
/*.down_list li a{ text-decoration:underline; }*/
.down_list li a:hover{ text-decoration:underline; color:#FFAF24;}

/*报价包含 end*/

/*需求描述展示*/
.requirement_esc {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*多行文本溢出*/
.other_desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


